includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 9

    ignoreErrors:
        - '#Attribute class PHPUnit\\Framework\\Attributes\\CodeCoverageIgnore does not exist.#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
